<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" [routerLink]="['/']">Strive with ME</a>
        </div>

        <button class="navbar-toggler" type="button" (click)="toggleNav()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navOpen }">
            <ul class="nav navbar-nav mr-auto" (click)="toggleNav()">
                <li><a class="nav-link" [routerLink]="['/']" (click)="setTitle('Strive with ME')" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a class="nav-link" [routerLink]="['/about']" (click)="setTitle('Strive with ME | Who We Are')" routerLinkActive="active-link">Who We Are</a></li>
                <li><a class="nav-link" [routerLink]="['/faq']" (click)="setTitle('Strive with ME | FAQs')" routerLinkActive="active-link">FAQs</a></li>
                <li><a class="nav-link" [routerLink]="['/contact']" (click)="setTitle('Strive with ME | Contact')" routerLinkActive="active-link">Contact</a></li>       
            </ul>
        </div>
    </div>
</nav>