<div id="c-service-page">
  <!--TITLE-->
  <div class="title text-center">
    Terms of Use
  </div>

  <div>
    <p id="update"><strong>Last Updated: January 14, 2020</strong></p>

    <div class="main-para">
      <div>Copyright</div>
      <p>This site and its materials are the property of &copy; 2019 Strive with ME, and are protected by copyright and
        other laws.</p>
    </div>

    <div class="main-para">
      <div>Use License</div>
      <p>&copy; 2019 Strive with ME allows you to view and print individual pages from this site for personal,
        non-commercial use, provided that you aggre agree without exceptions to terms set forth. You many not modify,
        license, or sell any information from this site. Additionally, you will not use this site for purposes that are
        unlawful or prohibited by these terms.</p>
    </div>

    <div class="main-para">
      <div>Trademarks</div>
      <p>The trademarks displayed on this site are registered trademarks of Strive with ME. The use of logos and other
        intellectual property of Strive with ME is not allowed.</p>
    </div>

    <div class="main-para">
      <div>Links to Third Party Sites</div>
      <p>The site includes links to sites owned by other parties and Strive with ME is not responsible for their
        content.</p>
    </div>
  </div>

</div>
