@import "../../scss/subpages";
@import "../../scss/fonts";

#update {
  margin: 4% 10%;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  #update {
    margin: 2% 8%;
  }
}

@media only screen and (min-width: 1025px) {
  #update {
    margin: 2% 8%;
  }
}
