<div id="wild-page">
  <div class="title text-center">
    404 Error - Page Not Found
  </div>
  <div class="wild-layout">
    <div>
      <p>Sorry, the page you are looking for is unavailable.</p>
      <p>(Unless you were looking for this page. Then, congrats!)</p>
      <p>
        For now, here are some helpful links, or return to the
        <a class="home-link" [routerLink]="['/']">homepage</a>!
      </p>
    </div>

    <div>
      <hr>
      <div>
        <a class="btn-gray list-group-item" [routerLink]="['/about']">
          <h4>About Strive with ME</h4>
        </a>

        <a class="btn-gray list-group-item" [routerLink]="['/contact']">
          <h4>Contact Us</h4>
        </a>
      </div>
    </div>

  </div>
</div>
