<div id="donate-page">
  <div class="title text-center">
    FAQs
  </div>

  <div>
    <!--FAQs-->
    <div class="faq-layout animated fadeIn delay-1">
      <app-faq-list></app-faq-list>
    </div>

    <!--THANKS-->
    <div class="main-para animated fadeIn delay-1">
      <div class="text-center">From Us to You</div>
      <div class="text-center subtitle-black">Thank You!</div>
      <div>
        Strive with ME would not be the organization it is today if not for the generous
        support by people like you. Whether you are a volunteer, a participant, or a donor, 
        <span class="highlight">thanks</span> for everything! We would also
        like to give credit to the incredible photographers at
        <a class="highlight" href="https://unsplash.com" target="_blank">UnSplash</a>
        who have contributed to the success of this website!
      </div>
    </div>
  </div>

</div>
