<div id="about-page">
  <div class="title text-center">
    About Strive with ME
    <a>
      <div class="btn-custom btn-custom-blue">Say Hello!</div>
      <!--TODO: Adding route to contact page-->
    </a>
  </div>
  <div class="main-para wow fadeIn delay-1">
    <div class="text-center">Who We Are</div>
    <div class="text-center subtitle-black">About Strive with ME</div>
    <div>
      <p class="text-center">
        A University dream - that's how this all started!
      </p>
      <p>
        Our desire to go beyond textbooks and help real people has driven us to
        develop innovative ways to ensure entrepreneurial success. We believe in
        your unique goals and work hard to help you achieve them, whatever they
        may be. Several years of late-nights, instant noodles, and hard work
        later, we're still here to help!
      </p>
      <p>
        Even though the business world has changed, our mission remains the
        same. With incredible advisors and top-notch services to manage your
        finances, we take pride in the numerous businesses who have trusted
        Accuracy Accounting Firm with their financial endeavours. Whether you're
        looking for advice or a monthly management system, Accuracy offers
        everything you need to bring more to your business.
      </p>
    </div>
  </div>

  <div class="p-img parallax-img1">
    <div class="caption"><span>Our Mission</span></div>
  </div>

  <div id="mission">
    <div class="text-center wow fadeIn delay-1">
      You make your goals.
      <br />
      <span class="highlight">We help you acheive them.</span>
    </div>

    <div class="wow fadeIn delay-2">
      At Accuracy, we are strong believers in innovative thinking. We encourage
      businesses to look beyond common practices and initiate the impossible!
      That's why we understand that your financial goals are yours to decide -
      and will be totally unique! With intelligent advisors, top-of-line
      technology and strong customer service, we are committed to helping you
      <span class="highlight"> make your dreams a reality.</span>
    </div>
  </div>

  <div class="p-img parallax-img2">
    <div class="caption"><span>Meet Our Staff</span></div>
  </div>

  <div class="container" id="staff">
    <div class="card-deck">

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Maria</h4>
          <p class="job-title">Co-Founder</p>
          <p class="card-text">Text.</p>
        </div>
      </div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Abraham</h4>
          <p class="job-title">Co-Founder</p>
          <p class="card-text">Text.</p>
        </div>
      </div>

      <div class="w-100 d-none d-sm-block d-md-none"></div>
      <div class="w-100 d-none d-lg-block"></div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Robin</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Text.</p>
        </div>
      </div>

      <div class="w-100 d-none d-md-block d-lg-none"></div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nicole</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Text.</p>
        </div>
      </div>

      <div class="w-100 d-none d-sm-block d-md-none"></div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Emma</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Text.</p>
        </div>
      </div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Danielle</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Text.</p>
        </div>
      </div>
    </div>
  </div>

</div>
