<div id="about-page">
  <!--TITLE-->
  <div class="title text-center">
    About Strive with ME
    <a>
      <div class="btn-custom btn-custom-blue" [routerLink]="['/contact']">Say Hello!</div>
    </a>
  </div>

  <!--HISTORY-->
  <div class="main-para wow fadeIn delay-1" id="back-story">
    <div class="text-center">Our Story</div>
    <div class="text-center subtitle-black">Behind Strive with ME</div>
    <div>
      <p class="text-center">
        A grassroots initiative focused on helping young adults and their families.
      </p>
      <p>Maria Le spent many years searching for services to help her eldest daughter who is diagnosed with autism.
        Unfortuntely, she realized many services were either too far or not suitable. She was disappointed that there
        was a lack of programs for those on the Spectrum who are transitioning from highschool to post-secondary and/or
        employment. </p>
      <p>
        Her youngest daughter has been dealing with depression and anxiety for several years.
        Although her daughter plays team sports and is in the mainstream school program, Maria noticed she, too,
        struggled
        with the sociatal stigmatization of Mental Health.
      </p>
      <p>Maria decided she wanted to help, not just her daughters, but the many other young adults who face such
        difficulties.</p>
    </div>
  </div>

  <div class="p-img parallax-img1">
    <div class="caption"><span>Our Mission</span></div>
  </div>

  <!--MISSION STATEMENT-->
  <div class="wow fadeIn delay-1" id="mission">
    <div class="text-center">
      You make your goals.
      <br />
      <span class="highlight">We help you acheive them.</span>
    </div>

    <div>
      Strive With ME is a non-profit organization seeking to encourage young
      adults with autism to improve social skills through recreational activities!  With the help of our tireless
      staff, we organize fundraisers, community-building events, and in-depth training sessions for our
      volunteers. We are committed to helping each and every person
      <span class="highlight"> reach their unique goals</span>!
    </div>
  </div>

  <div class="p-img parallax-img2">
    <div class="caption"><span>Meet Our Staff</span></div>
  </div>

  <!--STAFF MEMBERS-->
  <div class="container wow fadeIn delay-1" id="staff">
    <div class="card-deck">

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Maria</h4>
          <p class="job-title">Founder</p>
          <p class="card-text">Coming Soon! For now, read her story <a [routerLink]="['/about/']" fragment="back-story" >here</a>!</p>
        </div>
      </div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Abraham</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Coming Soon!</p>
        </div>
      </div>

      <!-- <div class="w-100 d-none d-sm-block d-md-none"></div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Robin</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">I work at Variety Village and at Front Line Work Force Inc. as a Developmental
            Service Worker. I am passionate about ending the stigma of mental health and joined Strive With ME because I
            want to create a safe, fun space for people to hangout!</p>
        </div>
      </div>

      <div class="w-100 d-none d-md-block"></div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nicole</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Coming Soon!</p>
        </div>
      </div> -->

      <div class="w-100 d-none d-md-block d-lg-none"></div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Emma</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">Hey there! As a student dealing with depression, I understand the importance of creating
            a friendly envionrment for all. I play volleyball and believe sports are a great way to relieve tension.</p>
        </div>
      </div>

      <div class="card mt-4 mb-3">
        <img class="card-img-top img-fluid" src="../../assets/images/logo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Danielle</h4>
          <p class="job-title">Volunteer</p>
          <p class="card-text">What's up! I'm a student passionate about helping others, world travel, and computer
            science. I've spent over four years helping those with disabilities and am the self-proclaimed website
            manager of Strive With ME!</p>
        </div>
      </div>
    </div>
  </div>

</div>
