@import "./globals";

.title {
  font-family: "Fjalla One";
  color: white;
  font-size: 6vw;
  padding: 14% 0 5% 0;

  a {
    text-decoration: none;

    div {
      text-align: center;
      margin: 5% 38% 0;
    }
  }
}

.subtitle-black {
  font-family: "Fjalla One";
  color: black;
  font-size: 6vw;
}

.main-para {
  margin: 4% 10%;

  div:nth-child(1) {
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 5vw;
    color: darken(rgb(28, 202, 202), 5%);
  }

  div:nth-child(3) {
    margin-top: 2%;
    font-family: "Source Sans Pro";
    font-size: 1.1em;

    p {
      margin: 0;
      padding: 2% 0;
    }
  }
}

hr {
  border-width: 5px;
  border-color: $highlight-color;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .main-para {
    margin: 2% 8%;

    div:nth-child(1) {
      font-size: 2.5vw;
    }

    div:nth-child(3) {
      font-size: 2.5vw;

      p {
        margin: 0;
        padding: 1% 0;
      }
    }
  }

  .subtitle-black {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 1025px) {
  .main-para {
    margin: 2% 8%;

    div:nth-child(1) {
      font-size: 2vw;
    }

    div:nth-child(3) {
      font-size: 1.5vw;

      p {
        margin: 0;
        padding: 0.6% 0;
      }
    }
  }

  .subtitle-black {
    font-size: 2.5vw;
  }
}
