// Colours
$bg-dark: rgb(37, 36, 36);
$highlight-color: rgb(28, 202, 202);
$bg-blue: rgb(35, 37, 44);

// Delays
.delay-1 {
    animation-delay: 0.25s;
}

.delay-2 {
    animation-delay: 0.8s;
}

.delay-3 {
    animation-delay: 1.35s;
}