<div id="home-page">
  <div id="mission-statement">
    <div>
      <h1 class="wow fadeIn delay-1">
        Here <span class="highlight">is stuff</span> and more stuff!
      </h1>
      <p class="wow fadeIn delay-1">
        Strive with ME is a non-profit organization, based in Markham, aiming to help young people with autism
        improve social skills through recreational activities!
      </p>
      <div>
        <a>
          <div class="btn-custom btn-custom-blue wow fadeIn delay-1">Join</div>
        </a>
        <a>
          <div class="btn-custom btn-custom-white wow fadeIn delay-1">Learn More</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="i-blue">
  <hr />
  <div id="quick-notes">
    <div class="wow fadeIn delay-1">
      <i class="fa-icon fa fa-3x fa-check-circle"></i>
      <!--FIXME: icon not showing up-->
      <h3>Friendly atmosphere!</h3>
      <p>We use modern technology to ensure fast results.</p>
    </div>
    <div class="wow fadeIn delay-2">
      <i class="fa-icon fa fa-3x fa-bullseye"></i>
      <!--FIXME: icon not showing up-->
      <h3>Great volunteers!</h3>
      <p>Ask about their credentials - we're proud to boast!</p>
    </div>
    <div class="wow fadeIn delay-3">
      <i class="fa-icon fa fa-3x fa-heart"></i>
      <!--FIXME: icon not showing up-->
      <h3>Fun activites!</h3>
      <p>We will represent you when the CRA or the IRS come knocking.</p>
    </div>
  </div>
  <hr />
</div>

<div id="carousel-review"> <!--TODO: Get quotes-->
  <ngb-carousel>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 1
        </h2>
        <h3 class="animated fadeIn delay-2">Jerry Adams, Owner of <span>Sports Insider</span></h3>
      </div>
    </ng-template>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 2
        </h2>
        <h3 class="animated fadeIn delay-2">Stephan Jaws, CEO of <span>Wapple</span></h3>
      </div>
    </ng-template>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 3
        </h2>
        <h3 class="animated fadeIn delay-2">Hellen Riccardo, Owner of <span>Toronto Square</span></h3>
      </div>
    </ng-template>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 4
        </h2>
        <h3 class="animated fadeIn delay-2">Hellen Riccardo II, Owner of <span>Toronto Square</span></h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="i-blue">
  <hr />
  <div>
    <h3 class="text-center">
      Want to help? <span class="highlight">Donate</span> now! <!--FIXME: Change span to a href-->
    </h3>
  </div>
</div>