<div id="home-page">
  <div id="mission-statement">
    <div>
      <h1 class="wow fadeIn delay-1">
        Because <span class="highlight">everyone</span> deserves to be <span class="highlight">listened to</span>.
      </h1>
      <p class="wow fadeIn delay-1">
        Strive with ME is a non-profit organization, based in Markham, aiming to help young people with autism
        improve social skills through recreational activities!
      </p>
      <div>
        <a [routerLink]="['/contact']">
          <div class="btn-custom btn-custom-blue wow fadeIn delay-1">Join</div>
        </a>
        <a [routerLink]="['/about']">
          <div class="btn-custom btn-custom-white wow fadeIn delay-1">Learn More</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="i-blue">
  <hr />
  <div id="quick-notes">
    <div class="wow fadeIn delay-1">
      <i class="fa-icon fa fa-3x fa-heart"></i>
      <h3>Friendly atmosphere!</h3>
      <p>We are a diverse and welcoming group seeking to develop positive relationships!</p>
    </div>
    <div class="wow fadeIn delay-2">
      <i class="fa-icon fa fa-3x fa-users"></i>
      <h3>Great volunteers!</h3>
      <p>Ask about their credentials - we're proud to boast!</p>
    </div>
    <div class="wow fadeIn delay-3">
      <i class="fa-icon fa fa-3x fa-check-circle"></i>
      <h3>Fun activites!</h3>
      <p>Past events include late-night cooking, movie marathons, and trips downtown!</p>
    </div>
  </div>
  <hr />
</div>

<div id="carousel-review">
  <!--TODO: Get quotes-->
  <ngb-carousel>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 1
        </h2>
        <h3 class="animated fadeIn delay-2">Name, <span>Participant</span></h3>
      </div>
    </ng-template>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 2
        </h2>
        <h3 class="animated fadeIn delay-2">Name, <span>Parent</span></h3>
      </div>
    </ng-template>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 3
        </h2>
        <h3 class="animated fadeIn delay-2">Name, <span>Parent</span></h3>
      </div>
    </ng-template>
    <ng-template class="slide" ngbSlide>
      <div class="carousel-content">
        <h2 class="animated fadeIn delay-1">
          Quote 4
        </h2>
        <h3 class="animated fadeIn delay-2">Name, <span>Founder</span></h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="i-blue">
  <hr />
  <div>
    <h3 class="text-center">
      Want to help? Ask about our <a class="highlight" [routerLink]="['/contact']" (click)="setTitle('Strive with ME | Contact Us')">volunteer positions</a>!
    </h3>
  </div>
</div>
